
.foot {
  font-family: Roboto, Arial, sans-serif;
  background-color: #00a499;
  color: rgb(192, 204, 216);
  padding-top: 3vh;
  padding-bottom: 2vh;
  text-align: center;
  width: 100%;

}

.foot ul {
  margin-bottom: 1vh;
}

.footer {
  color: white;
  text-decoration: none;
  list-style-type: none;
  width: 100%;
}

.footflex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-around;
  width: 100%;
}





.copyright {
  display: block;
  height: auto;
  background-color: #02615b;
  ;
  color: aliceblue;
  width: 100%;
  margin-bottom: 0vh;
  text-align: center;

}